@model IEnumerable<ToysForBoys.Models.BestelDetail>
@{
    ViewBag.Title = "Winkelwagen";
}

<h2>Winkelwagen - Overzicht</h2>

<table class="table">
    <tr>
        <th>Product</th>
        <th class="right">Prijs</th>
        <th class="right">Aantal</th>
        <th class="right">Totaal</th>
        <th></th>
    </tr>
    @{ 
        decimal iTotaal = 0;
    }
    @foreach (var item in Model)
    {
        iTotaal += item.Totaal;
        var iVoorraad = item.Product.OpVoorraad - item.Product.Besteld;
        if (iVoorraad < 0) { iVoorraad = 0; }
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Product.Naam)</td>
            <td class="right">@Html.DisplayFor(modelItem => item.Product.Prijs)</td>
            <td class="right">@Html.EditorFor(modelItem => item.Aantal, new { htmlAttributes = new { min = 0, max = iVoorraad } })</td>
            <td class="right">@Html.DisplayFor(modelItem => item.Totaal)</td>
            <td class="center">@Html.ActionLink("Delete", "DeleteProduct", "Winkelwagen", new { id = item.Product.ID }, null)</td>
        </tr>
    }
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td class="right">@String.Format("{0:€ #,##0.00}", iTotaal)</td>
            <td></td>
        </tr>
    </tfoot>
</table>

@Html.ActionLink("Herbereken", "Herbereken")