@model ToysForBoys.Models.ProductCategorie

@{
    ViewBag.Title = "Productcategorie - Details";
}

<h2>Productcategorie - Details</h2>

<div>
    <h4>ProductCategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
